{% extends 'base.html' %}

{% block page-title %}
Who we are?
{% endblock %}

{% block body %}

<div class="about">
    <h1 class="about__title">Lets get to know each other! 🙌🏻</h1>
    <p class="about__text">
        Founded in the heart of the culinary capital of the world, New York City, in 2010, Taster® has grown from a
        small startup to an international food delivery service catering to the taste preferences of people around the
        world.
        <br><br>
        Our primary goal is to provide quality food that not only satiates, but also provides genuine pleasure.
        <br><br>
        With a passion for the culinary arts and a love for our customers, we at Taster® are constantly working to
        expand our selection, improve our service, and enhance our app to make the process of ordering food as
        convenient and fast as possible.
        <br><br>
        One thing that can be said about Taster® today is that we don't just deliver food, we deliver flavor and fun
        right to your door. It's this passion for what we do that has allowed us to become one of the leading food
        delivery services with thousands of partner restaurants in the U.S. and around the world.
        <br><br>
        Taster® is more than just a meal delivery service. It's your personal guide to a world of gastronomic delights.
    </p>

</div>

<div class="contact">
    <h3 class="contact__title">Contact Us</h3>
    <a href="tel:89920175079" class="contact__text">Contact us toll-free. Just click!</a>
</div>

{% endblock %}