@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: "Input";
    font-style: normal;
    font-weight: 400;
    src: local("Input"),
         url("../fonts/InputMono-Regular.woff") format("woff"),
}

:root {
    --beige: #FAEDD4;
    --red: #FB3B2D;
    --blue: #8899CC;
    --orange: #FFAF00;
    --gray: #6D6D6D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Barlow, sans-serif;
    cursor: default;
}

body {
    background-color: var(--beige);
    position: relative;
}

button {
    border-width: 0px;
}

a {
    text-decoration: none;
    color: var(--red);
    cursor: pointer;
}

a > img {
    cursor: pointer;
}

button {
    cursor: pointer;
}

input:focus {
    outline: none;
}

ol,
ul {
    list-style: none;
}

h1,
h2 {
    color: var(--red);
}

section,
header, footer {
    max-width: 87.45%;
}

.line {
    background-color: var(--red);
    width: 100%;
    height: 2px;
}

.geo {
    background-color: var(--red);
    max-width: 87.45%;
    padding: 30px 80px;
}

.geo__text {
    text-align: center;
    font-size: 37px;
    color: var(--beige);
    margin-bottom: 45px;
}

.geo__link {
    padding: 5px 22px;
    font-size: 20px;
    color: var(--red);
    border: 1px solid var(--red);
    background-color: var(--beige);
}

.geo__link:hover {
    color: var(--beige);
    border: 1px solid var(--beige);
    background-color: var(--red);
    transition: all 0.5s ease-in-out;
}

.geo__links {
    text-align: center;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 3%;
    border-bottom: 2px solid var(--red);
}

.header__logo {
    padding-top: 10px;
}

.header__apple {
    margin-right: 30px;
}

.header__login {
    font-size: 19px;
}

.header__sign-in {
    margin-right: 28px;
}

.header__sign-up {
    border: 1px solid var(--red);
    padding: 8px 15px;
}

.header__sign-up:hover {
    border: 1px solid var(--beige);
    color: var(--beige);
    background-color: var(--red);
    transition: all 0.5s ease-in-out;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.15);
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--beige);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: var(--red);
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Nav */

.nav {
    max-width: 20%;
    position: absolute;
    top: 0;
    right: -3.7%;
    text-align: center;
    font-size: 30px;
    transform: rotate(90deg);
}

.nav__item {
    display: block;
    font-weight: 300;
    height: 80px;
    width: 800px;
    padding-top: 20px;
    color: black;
}

.nav__about {
    background-color: var(--blue);
}

.nav__news {
    background-color: var(--orange);
}

.nav__menu {
    background-color: var(--red);
}

/* Banner */

.banner {
    display: flex;
    border-top: 2px solid var(--red);
}

.banner__left {
    border-right: 2px solid var(--red);
    max-width: 60.1%;
}

.banner__image {
    margin-left: 40%;
    margin-top: 10%;
}

.banner__title {
    padding-top: 185px;
    font-size: 90px;
    font-weight: 500;
    margin-left: 6%;
    padding-bottom: 36px;
    max-width: 70%;
}

.banner__text {
    font-size: 29px;
    margin-left: 6%;
    color: var(--red);
    padding: 45px 0;
    max-width: 70%;
}

.banner__btn {
    font-size: 50px;
    background-color: var(--red);
    width: 100%;
    padding: 30px 0;
    display: block;
    color: var(--beige);
    text-align: center;
}

/* Stats */

.stats__img {
    width: 100%;
    border-bottom: 2px solid var(--red);
}

.stats__line {
    margin-left: 15%;
    display: flex;
    margin-top: 160px;
    max-width: 75%;
    justify-content: space-between;
    align-items: center;
}

.stats__item {
    text-align: center;
}

.pl {
    padding-left: 45px;
}

.stats__title {
    margin-left: 4%;
    font-size: 70px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 40px;
}

.stats__text {
    font-size: 36px;
    color: var(--red);
    margin-top: 25px;
}

.stats__numbers {
    background-color: var(--red);
    color: var(--beige);
    padding: 35px 0 35px 4%;
    margin-top: 30px;
}

.stats__number {
    font-size: 60px;
    font-weight: 300;
    margin-right: 9%;
}

.stats__number:nth-child(4) {
    margin-right: 0;
}

/* Footer */

.footer {
    padding: 50px 15% 50px 4%;
    color: var(--red);
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}

.footer__rest, .footer__find_us, .footer__corporate, .footer__socials {
    display: flex;
    flex-direction: column;
}

.footer__title {
    margin-bottom: 25px;
}

.footer__order {
    margin: 25px 0;
}

.footer__text, .footer__link {
    margin-bottom: 5px;
}

/* Login */

.welcome {
    background-color: var(--red);
    color: var(--beige);
    padding: 35px 0 35px 3%;
    font-size: 90px;
    font-weight: 500;
}

.login {
    display: flex;
    justify-content: space-between;
    max-width: 87.45%;
    border-bottom: 2px solid var(--red);
}

.login__left {
    padding: 70px 81px 160px 3%;
    width: 60%;
    border-right: 2px solid var(--red);
}

.login__right {
    width: 40%;
    text-align: center;
    padding: 30px 0;
}

.login__input {
    background-color: var(--beige);
    border: 2px solid var(--red);
    padding: 28px 33px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 30px;
    color: black;
    font-family: Input, sans-serif;
    box-shadow: 8px 5px 2px red;;
}

.login__input > placeholder {
    font-size: 18px;
}

.login__image {
    max-width: 60%;
}

.login__btn {
    background-color: var(--red);
    border: 2px solid var(--red);
    padding: 16px 16px;
    width: 25%;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 35px;
    font-family: Input, sans-serif;
    color: var(--beige);
}

.login__text {
    font-size: 18px;
}

.register {
    text-decoration: underline;
}

::-webkit-input-placeholder {
    color: var(--gray);
 }
 :-moz-placeholder { 
    color: var(--gray);
 }
 ::-moz-placeholder { 
    color: var(--gray);
 }
 :-ms-input-placeholder {
    color: var(--gray);
 }