@font-face {
    font-family: "Barlow";
    font-style: light;
    font-weight: 300;
    src: local("Barlow"),
         url("../fonts/Barlow-Light.woff2") format("woff2"),
}

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: local("Barlow"),
         url("../fonts/Barlow-Regular.woff2") format("woff2"),
}

@font-face {
    font-family: "Barlow";
    font-style: medium;
    font-weight: 500;
    src: local("Barlow"),
         url("../fonts/Barlow-Medium.woff2") format("woff2"),
}

@font-face {
    font-family: "Barlow";
    font-weight: 600;
    src: local("Barlow"),
         url("../fonts/Barlow-SemiBold.woff2") format("woff2"),
}

@font-face {
    font-family: "Barlow";
    font-style: bold;
    font-weight: 700;
    src: local("Barlow"),
         url("../fonts/Barlow-Bold.woff2") format("woff2"),
}

@font-face {
    font-family: "Input";
    font-style: normal;
    font-weight: 400;
    src: local("InputMono"),
         url("../fonts/InputMono-Regular.woff") format("woff"),
}

:root {
    --beige: #FAEDD4;
    --red: #FB3B2D;
    --blue: #8899CC;
    --orange: #FFAF00;
    --gray: #6D6D6D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Barlow, sans-serif;
    cursor: default;
}

body {
    background-color: var(--beige);
    position: relative;
}

button {
    border-width: 0px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--red);
    cursor: pointer;
}

a > img {
    cursor: pointer;
}

button {
    cursor: pointer;
}

input:focus {
    outline: none;
}

ol,
ul {
    list-style: none;
}

h1,
h2 {
    color: var(--red);
}

section,
header, footer {
    max-width: 87.45%;
}

.line {
    background-color: var(--red);
    width: 100%;
    height: 2px;
}

.geo {
    background-color: var(--red);
    max-width: 87.45%;
    padding: 30px 80px;
}

.geo__text {
    text-align: center;
    font-size: 37px;
    color: var(--beige);
    margin-bottom: 45px;
}

.geo__link {
    padding: 5px 22px;
    font-size: 20px;
    color: var(--red);
    border: 1px solid var(--red);
    background-color: var(--beige);
}

.geo__link:hover {
    color: var(--beige);
    border: 1px solid var(--beige);
    background-color: var(--red);
    transition: all 0.5s ease-in-out;
}

.geo__links {
    text-align: center;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 3%;
    border-bottom: 2px solid var(--red);
}

.header__logo {
    padding-top: 10px;
}

.header__apple {
    margin-right: 30px;
}

.header__login {
    font-size: 19px;
    display: flex;
    align-items: center;
}

.header__user {
    font-size: 32px;
    color: var(--red);
    margin-right: 20px;
}

.header__user:hover {
    text-decoration-line: underline;
}

.header__sign-in {
    margin-right: 28px;
}

.header__sign-up {
    border: 1px solid var(--red);
    padding: 8px 15px;
    margin-right: 20px;
}

.header__cart {
    display: flex;
    align-items: center;
    
}

.header__cart-link {
    color: var(--red);
    font-size: 19px;
    border: 1px solid var(--red);
    padding: 8px 15px;
}

.header__cart-img {
    width: 19px;
    height: 19;
}

.header__sign-up:hover, .header__cart-link:hover {
    border: 1px solid var(--beige);
    color: var(--beige);
    background-color: var(--red);
    transition: all 0.5s ease-in-out;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.15);
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--beige);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: var(--red);
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Nav */

.nav {
    max-width: 20%;
    position: absolute;
    top: 0;
    right: -3.7%;
    text-align: center;
    font-size: 30px;
    transform: rotate(90deg);
}

.nav__item {
    display: block;
    font-weight: 300;
    height: 80px;
    width: 800px;
    padding-top: 20px;
    color: black;
}

.nav__about {
    background-color: var(--blue);
}

.nav__news {
    background-color: var(--orange);
}

.nav__menu {
    background-color: var(--red);
}

/* Banner */

.banner {
    display: flex;
    border-top: 2px solid var(--red);
}

.banner__left {
    border-right: 2px solid var(--red);
    max-width: 60.1%;
}

.banner__image {
    margin-left: 40%;
    margin-top: 10%;
}

.banner__title {
    padding-top: 185px;
    font-size: 90px;
    font-weight: 500;
    margin-left: 6%;
    padding-bottom: 36px;
    max-width: 70%;
}

.banner__text {
    font-size: 29px;
    margin-left: 6%;
    color: var(--red);
    padding: 45px 0;
    max-width: 70%;
}

.banner__btn {
    font-size: 50px;
    background-color: var(--red);
    width: 100%;
    padding: 30px 0;
    display: block;
    color: var(--beige);
    text-align: center;
}

/* Stats */

.stats__img {
    width: 100%;
    border-bottom: 2px solid var(--red);
}

.stats__line {
    margin-left: 15%;
    display: flex;
    margin-top: 160px;
    max-width: 75%;
    justify-content: space-between;
    align-items: center;
}

.stats__item {
    text-align: center;
}

.pl {
    padding-left: 45px;
}

.stats__title {
    margin-left: 4%;
    font-size: 70px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 40px;
}

.stats__text {
    font-size: 36px;
    color: var(--red);
    margin-top: 25px;
}

.stats__numbers {
    background-color: var(--red);
    color: var(--beige);
    padding: 35px 0 35px 3%;
    margin-top: 30px;
}

.stats__number {
    font-size: 60px;
    font-weight: 300;
    margin-right: 9%;
}

.stats__number:nth-child(4) {
    margin-right: 0;
}

/* Footer */

.footer {
    padding: 50px 15% 50px 3%;
    color: var(--red);
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}

.footer__rest, .footer__find_us, .footer__corporate, .footer__socials {
    display: flex;
    flex-direction: column;
}

.footer__title {
    margin-bottom: 25px;
}

.footer__order {
    margin-bottom: 25px;
}

.footer__text, .footer__link {
    margin-bottom: 5px;
}

/* Auth */

.welcome {
    background-color: var(--red);
    color: var(--beige);
    padding: 35px 0 35px 3%;
    font-size: 90px;
    font-weight: 500;
}

.auth {
    display: flex;
    justify-content: space-between;
    max-width: 87.45%;
    border-bottom: 2px solid var(--red);
}

.auth__left {
    padding: 70px 81px 80px 3%;
    width: 60%;
    border-right: 2px solid var(--red);
}

.auth__right {
    width: 40%;
    text-align: center;
    padding: 30px 0;
}

.auth__input {
    background-color: var(--beige);
    border: 2px solid var(--red);
    padding: 28px 33px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 30px;
    color: black;
    font-family: Input, sans-serif;
    box-shadow: 8px 5px 2px red;;
}

.auth__input > placeholder {
    font-size: 48px;
}

.auth__image {
    max-width: 60%;
}

.auth__btn {
    background-color: var(--red);
    border: 2px solid var(--red);
    padding: 16px 16px;
    width: 25%;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 35px;
    font-family: Input, sans-serif;
    color: var(--beige);
}

.auth__text {
    font-size: 18px;
}

.register {
    text-decoration: underline;
}

.sing_up__image {
    max-width: 82%;
    margin-top: 45px;
    margin-right: 50px;
}

::-webkit-input-placeholder {
    color: var(--gray);
 }
 :-moz-placeholder { 
    color: var(--gray);
 }
 ::-moz-placeholder { 
    color: var(--gray);
 }
 :-ms-input-placeholder {
    color: var(--gray);
 }

/* News */

.featured_news {
    max-width: 87.45%;
    display: flex;
    border-bottom: 2px solid var(--red);
    font-weight: 400;
}

.featured_news__left {
    width: 60%;
    border-right: 2px solid var(--red);
    padding-bottom: 50px;
}

.featured_news__right {
    width: 40%;
}

.featured_news__card {
    display: flex;
    justify-content: space-between;
}

.featured_news__title {
    background-color: var(--red);
    color: var(--beige);
    padding: 35px 0 35px 5%;
    font-weight: 400;
    font-size: 90px;
}

.featured_news__date {
    font-size: 18px;
    color: var(--gray);
}

.featured_news__subtitle {
    font-size: 32px;
    color: black;
    padding-left: 5%;
    margin-top: 25px;
    max-width: 80%;
    font-weight: 400;
    cursor: pointer;
}

.featured_news__subtitle > a:hover {
    text-decoration-line: underline;
}

.featured_news__subtitle > a {
    color: black;
}

.featured_news__img {
    width: 830px;
    height: 380px;
    object-fit: cover;
    margin: 50px 0 30px 0;
    padding-left: 5%;
}

.featured_news__card {
    padding: 30px 0 30px 44px;
    border-bottom: 2px solid var(--red);
}

.featured_news__card:nth-child(5) {
    border-bottom: none;
}

.card__img {
    height: 105px;
    width: 105px;
    object-fit: cover;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.card__text {
    font-size: 20px;
    color: black;
    margin-top: 10px;
    max-width: 100%;
    cursor: pointer;
}

.card__text > a:hover {
    text-decoration-line: underline;
}

.card__left {
    width: 60%;
    height: 116px;
}

.card__right {
    width: 40%;
    text-align: center;
}

.pl-4 {
    padding-left: 5%;
}

.latest_news {
    display: flex;
    justify-content: space-between;
    width: 87.45%;
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--red);
}

.latest_news__left {
    width: 30%;
    padding-left: 3%;
}

.latest_news__right {
    width: 70%;
    font-size: 26px;
}

.latest_news__title {
    font-size: 36px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.latest_news__link {
    color: var(--red);
    font-weight: bold;
    font-size: 22px;
}

.latest_news__date {
    color: var(--gray);
}

.latest_news__link:hover {
    text-decoration-line: underline;
}

.latest_news__card {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 2px solid var(--red);
}

.latest_news__text:hover {
    text-decoration-line: underline;
}

.latest_news__card:nth-child(1) {
    padding-top: 0;
}

.latest_news__card:last-child {
    border-bottom: none;
}

/* Menu */

.menu {
    max-width: 87.45%;
}

.menu__title {
    background-color: var(--red);
    color: var(--beige);
    padding: 35px 0 35px 3%;
    font-weight: 400;
    font-size: 90px;
}

.menu__title-back {
    color: var(--beige)
}

.menu__title-back:hover {
    text-decoration-line: underline;
}

.menu__food {
    padding: 45px 3% 55px 3%;
    border-bottom: 2px solid var(--red);
}

.extra__menu__food {
    padding: 45px 3% 55px 3%;
    border-bottom: 2px solid var(--red);
}

.menu__subtitle {
    font-size: 42px;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-bottom: 30px;
    scroll-margin-top: 250px;
}

.menu__link {
    font-size: 42px;
    color: var(--red);
    font-weight: 600;
    float: right;
    cursor: pointer;
}

.menu__link:hover {
    text-decoration-line: underline;
}

.menu__title-back:hover {
    text-decoration-line: underline;
}

.foods {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
}

.food {
    width: 250px;
}

.food__button > span {
    cursor: pointer;
}

.food__name {
    font-size: 22px;
    color: black;
}

.food__name:hover {
    text-decoration-line: underline;
}

.food__weight {
    font-size: 22px;
    color: var(--gray);
    margin: 10px 0;
}

.food__button {
    background: var(--beige);
    color: var(--red);
    padding: 0px 10px 5px 10px;
    border: 2px solid var(--red);
    font-size: 24px;
    font-weight: 500;
}

.food__button > span {
    font-size: 30px;
    padding: 0;
}

.food__img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* About */

.about {
    border-bottom: 2px solid var(--red);
    max-width: 87.45%;
}

.about__title {
    background-color: var(--red);
    color: var(--beige);
    padding: 35px 0 35px 3%;
    font-weight: 400;
    font-size: 90px;
}

.about__text {
    padding: 50px 3% 50px 3%;
    text-align: left;
    font-size: 28px;
}

/* Contact */

.contact {
    padding: 40px 0 50px 3%;
    border-bottom: 2px solid var(--red);
    max-width: 87.45%;
}

.contact__title {
    font-size: 36px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact__text {
    font-size: 26px;
    color: black;
}

.contact__text:hover {
    text-decoration-line: underline;
}

.hidden {
    display: none;
}

.special_card {
    border-bottom: none;
}

.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: #2098D1; */
  background: var(--red);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: var(--beige);
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/* Cart */


.cart__title {
    background-color: var(--red);
    color: var(--beige);
    padding: 35px 0 35px 3%;
    font-weight: 400;
    font-size: 90px;
    max-width: 87.45%;
}

.cart {
    display: flex;
    max-width: 87.45%;
    border-bottom: 2px solid var(--red);
}

.cart__left {
    width: 65%;
    border-right: 2px solid var(--red);
}

.cart__right {
    width: 35%;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 30px 5%;
    border-bottom: 2px solid var(--red);
}

.cart__item:last-child {
    border-bottom: none;
}

.food-button {
}

.item__name {
    font-size: 24px;
    margin-bottom: 10px;
}

.item__price {
    color: var(--red);
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 15px;
}

.item__info {
    margin: 7px 0 20px 30px;
}

.item__weight {
    font-size: 16px;
    color: var(--gray);
}

.item__left {
    display: flex;
}

.item__right {
    text-align: right;
}

.item__img {
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.cart__total {
    padding: 35px 0 0 35px;
    color: black;
    font-weight: bold;
    font-size: 42px;
}

.cart__clear {
    margin-left: 50%;
}

.cart__clear:hover {
    text-decoration-line: underline;
}

.cart__total-sum {
    padding: 0 0 45px 35px;
    margin-top: 40px;
    color: black;
    font-weight: 500;
    font-size: 38px;
}

.cart__btn {
    font-size: 42px;
    background-color: var(--red);
    width: 100%;
    padding: 20px 0;
    display: block;
    color: var(--beige);
    text-align: center;
    border-top: 2px solid var(--red);
    border-bottom: 2px solid var(--red);
}

/* Card */

.window__left-img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    padding: 40px 90px 90px 0;
}

.window__left {
    width: 50%;
}

.window__title {
    font-size: 28px;
    font-weight: bold;
}

.hystmodal__window {
    width: 900px;
    padding: 0 40px;
    background: var(--beige);
    border: 2px solid var(--red);
    display: flex;
    position: relative;
}

.window__description {
    font-size: 19px;
    margin: 20px 0;
    color: var(--gray);
}

.window__weight {
    font-size: 19px;
    color: black;
    margin-bottom: 80px;
}

.window__right {
    width: 50%;
    border-left: 2px solid var(--red);
    text-align: left;
    padding: 40px 0 40px 30px;
}

.window__button {
    position: absolute;
    bottom: 7%;
    left: 53.5%;
    display: flex;
    align-items: center;
    background: var(--beige);
    color: var(--red);
    justify-content: space-between;
    font-size: 22px;
    width: 42.7%;
    border: 2px solid var(--red);
    padding: 5px 12px;
}

.window__button > div {
    cursor: pointer;
}
