<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: blue; width: 80%; float: left;" class="">34242</div>
    <div style="float: right; width: 30%;transform: rotate(90deg); text-align: center; margin-top: 150px;">
        <div style="background-color: aqua;" class="">123</div>
        <div style="background-color: brown;" class="">456</div>
        <div style="background-color: blanchedalmond;" class="">679</div>
    </div>
    <!-- <div style="position: fixed; top: 0; right: 0; background-color: red;" class="">123123123</div> -->

</body>
</html>