{% extends 'base.html' %}
{% load static %}
{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'css/hystmodal.min.css' %}">
{% endblock %}
{% block page-title %}Taster menu: fresh ingredients, wide selection, fast delivery{% endblock %}
{% block body %}
    <div class="menu">
        <h1 class="menu__title">Menu</h1>
        {% for food_type, food_list in foods.items %}
            <div class="menu__food">
                <h2 id="{{ food_type.id }}" class="menu__subtitle">{{ food_type.name }}</h2>
                <a href="{% url 'food-by-type' food_type.slug %}" class="menu__link">EXPLORE ALL</a>
                <div class="foods">
                    {% for food in food_list %}
                        {% if food.food_type == food_type %}
                            <div class="food">
                                <img class="food__img" src="{{ food.image.url }}" alt="{{ food.name }}">
                                <a href="#" data-hystmodal="#_{{ food.id }}" class="food__name">{{ food.name|truncatechars:20 }}</a>
                                <p class="food__weight">{{ food.weight }}g</p>
                                <form class="food__form" action="{% url 'cart_add' food.id %}" data-food-id={{ food.id }} method="post">
                                    {{ cart_product_form }}
                                    {% csrf_token %}
                                    <button type="submit" class="food__button hvr-bounce-to-bottom">
                                        £{{ food.price }} <span>+</span>
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {% for food_list in foods.values %}
            {% for food in food_list %}
                <div class="hystmodal" id="_{{ food.id }}" aria-hidden="true">
                    <div class="hystmodal__wrap">
                        <div class="hystmodal__window" role="dialog" aria-modal="true">
                            <button data-hystclose class="hystmodal__close">Закрыть</button>
                            <div class="window__left">
                                <img class="window__left-img"
                                     src="{{ food.image.url }}"
                                     alt="{{ food.name }}">
                            </div>
                            <div class="window__right">
                                <h3 class="window__title">{{ food.name }}</h3>
                                <p class="window__description">{{ food.description }}</p>
                                <p class="window__weight">{{ food.weight }}g / {{ food.calories }}ccal</p>
                                <form class="food__form" action="{% url 'cart_add' food.id %}" data-food-id={{ food.id }} method="post">
                                    {{ cart_product_form }}
                                    {% csrf_token %}
                                    <button type="submit"
                                            id="close-btn"
                                            class="window__button hvr-bounce-to-bottom">
                                        <div>Add 1 to order</div>
                                        <div>£{{ food.price }} +</div>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/hystmodal.min.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
