{% extends 'base.html' %}

{% load static %}

{% block page-title %}
Login | Food delivery 24/7 | Order food at home with delivery in your city
{% endblock %}

{% block body %}

<h1 class="welcome">
    Welcome back! 👋🏻
</h1>

<div class="auth">
    
    <div class="auth__left">
        <form method="post" class="auth__form">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <button type="submit" class="auth__btn hvr-sweep-to-right">Login</button>
        </form>
        <p class="auth__text">Do not have an account? <a href="{% url 'sign_up' %}" class="register">Register</a></p>
    </div>

    <div class="auth__right">
        <img src="{% static 'images/login.svg' %}" alt="vendor" class="auth__image">
    </div>

</div>

{% endblock %}