{% extends 'base.html' %}

{% load static %}

{% block page-title %}
Sign Up | Food delivery 24/7 | Order food at home with delivery in your city
{% endblock %}

{% block body %}

<h1 class="welcome">
    Welcome to taster! 👋🏻
</h1>

<div class="auth">
    
    <div class="auth__left">
        <form method="post" class="auth__form">
            {% csrf_token %}
            <input type="text" class="auth__input" tabindex="1" placeholder="Enter the name"><br>
            <input type="email" class="auth__input" tabindex="2" placeholder="Enter the email"><br>
            <input type="password" class="auth__input" tabindex="3" placeholder="Enter the password"><br>
            <button type="submit" class="auth__btn hvr-sweep-to-right">Login</button>
        </form>
        <p class="auth__text">Already have an account? <a href="{% url 'login' %}" class="register">Login</a></p>
    </div>

    <div class="auth__right">
        <img src="{% static 'images/sign_up.svg' %}" alt="bike" class="sing_up__image">
    </div>

</div>

{% endblock %}